n8n_backup_1.114.4/workflows/restored/aip-web.json
{
  "createdAt": "2025-10-02T14:23:04.006Z",
  "updatedAt": "2025-10-02T16:40:16.354Z",
  "id": "nZJTmSITLrn42sVh",
  "name": "aip web",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "50af535e-3be6-4793-b454-f3512d669514",
      "name": "When clicking \u2018Execute workflow\u2019"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4000/api/auth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "aloatist@gmail.com"
            },
            {
              "name": "password",
              "value": "ChangeMe123!"
            },
            {
              "name": "userAgent",
              "value": "admin-frontend"
            },
            {
              "name": "ip",
              "value": "127.0.0.1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "de688e26-e604-468c-bb6b-453057575be0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "http://localhost:4000/api/dashboard/overview",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer  {{ $json.tokens.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "dcc8e768-815f-42ba-a73c-90762ee7febb",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9435f61d-03b1-4e2a-89ef-a99ae501c16a",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-02T14:23:04.006Z",
      "updatedAt": "2025-10-02T14:23:04.006Z",
      "role": "workflow:owner",
      "workflowId": "nZJTmSITLrn42sVh",
      "projectId": "ICp1M8C0gzC6bJJb"
    }
  ],
  "tags": [],
  "repo_owner": "aloatist",
  "repo_name": "n8nvps",
  "repo_path": "aloatist/n8nvps",
  "drive_folder": "1xA6c0JY5ZpCuLzILbuv4tiP_pMCPWRCH"
}