n8n/workflows/social-media-publisher.json
{
  "name": "Social Media Publisher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-media-publish",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "social-media-publish"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.platform }}",
              "operation": "equals",
              "value2": "facebook"
            }
          ]
        }
      },
      "id": "if-facebook",
      "name": "Is Facebook?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.platform }}",
              "operation": "equals",
              "value2": "instagram"
            }
          ]
        }
      },
      "id": "if-instagram",
      "name": "Is Instagram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 500]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/{{ $json.accountId }}/feed",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.content.text }}"
            },
            {
              "name": "link",
              "value": "={{ $json.content.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "facebook-post",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/{{ $json.accountId }}/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instagramGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "caption",
              "value": "={{ $json.content.text }}"
            },
            {
              "name": "image_url",
              "value": "={{ $json.media[0].url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "instagram-post",
      "name": "Post to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 500]
    },
    {
      "parameters": {
        "url": "={{ $json.webhookCallbackUrl }}/api/social-media/webhooks",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "socialMediaPostId",
              "value": "={{ $json.socialMediaPostId }}"
            },
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "platformPostId",
              "value": "={{ $json.id }}"
            },
            {
              "name": "platformUrl",
              "value": "={{ $json.permalink_url || $json.permalink }}"
            }
          ]
        },
        "options": {}
      },
      "id": "webhook-success",
      "name": "Send Success Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.webhookCallbackUrl }}/api/social-media/webhooks",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "socialMediaPostId",
              "value": "={{ $json.socialMediaPostId }}"
            },
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "error",
              "value": "={{ $json.error.message }}"
            },
            {
              "name": "errorDetails",
              "value": "={{ JSON.stringify($json.error) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "webhook-error",
      "name": "Send Error Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Publishing...' } }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Is Facebook?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Instagram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Facebook?": {
      "main": [
        [
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Instagram?": {
      "main": [
        [
          {
            "node": "Post to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Send Success Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Instagram": {
      "main": [
        [
          {
            "node": "Send Success Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Success Callback": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-27T00:00:00.000Z",
  "versionId": "1"
}
