n8n/workflows/restored/Nh-n-th-ng-b-o-ch-m-s-c-kh-ch-h-ng-t-email-marketing.json
{
  "createdAt": "2025-09-26T15:25:40.276Z",
  "updatedAt": "2025-09-26T15:25:40.276Z",
  "id": "gqOULDVBe1ddPYe8",
  "name": "Nh\u1eadn th\u00f4ng b\u00e1o ch\u0103m s\u00f3c kh\u00e1ch h\u00e0ng t\u1eeb email marketing",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "52e972e0-610a-421b-8984-37a2332b07f3",
              "leftValue": "={{ $json.body.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -64,
        416
      ],
      "id": "b69b958f-a786-499d-8281-4ad14c717d2f",
      "name": "IF_Open_Click"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f3c5d26-b68f-4550-b988-9628b8d9bae6",
              "name": "url",
              "value": "={{ $json.body.url }}",
              "type": "string"
            },
            {
              "id": "209c1ce4-f881-46c4-847a-15dcdebcc164",
              "name": "ip",
              "value": "={{ $json.body.ip_address }}",
              "type": "string"
            },
            {
              "id": "33746568-467d-4155-8e1a-27bb0e877697",
              "name": "campaign",
              "value": "={{ $json.body.campaign.name }}",
              "type": "string"
            },
            {
              "id": "12ee0ffb-a230-48e4-93a5-4db066b1adb5",
              "name": "email",
              "value": "={{ $json.body.subscriber.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        112
      ],
      "id": "5a366284-ec4c-4844-97b4-ffd07bce0667",
      "name": "Set_Click"
    },
    {
      "parameters": {
        "jsCode": "const clickData = $input.item.json;\nconst emailToFind = $('Set_Click').first().json.email\nconst currentUrl = $('Set_Click').first().json.url;\n\nconst sheetRows = $items(\"Data_Sheet1\");\nlet matchedRow = null;\nlet matchIndex = -1;\n\nfor (let i = 0; i < sheetRows.length; i++) {\n  const row = sheetRows[i].json;\n  const email = (row.Email || \"\").trim().toLowerCase();\n\n  if (email === emailToFind) {\n    matchedRow = row;\n    matchIndex = i;\n    break;\n  }\n}\n\nif (matchIndex === -1) {\n  throw new Error(\"Kh\u00f4ng t\u00ecm th\u1ea5y email trong sheet.\");\n}\n\nlet url1 = matchedRow[\"URL1\"]?.trim() || \"\";\nlet url2 = matchedRow[\"URL2\"]?.trim() || \"\";\nlet url3 = matchedRow[\"URL3\"]?.trim() || \"\";\n\nconst clickCount = parseInt(matchedRow[\"L\u01b0\u1ee3t nh\u1ea5p\"]) || 0;\n\nconst urlAlreadyExists = [url1, url2, url3].includes(currentUrl);\n\nif (!urlAlreadyExists) {\n  if (!url1) {\n    url1 = currentUrl;\n  } else if (!url2) {\n    url2 = currentUrl;\n  } else if (!url3) {\n    url3 = currentUrl;\n  }\n\n}\n\nreturn [{\n  json: {\n    rowIndex: matchedRow.row_number,\n    LuotClick: clickCount + 1,\n    url1,\n    url2,\n    url3,\n    email: matchedRow.Email,\n    name: matchedRow[\"H\u1ecd T\u00ean\"],\n    campaign: matchedRow[\"Campaign\"]\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        112
      ],
      "id": "84e44dfd-7404-4f22-9fd0-b93c3cd0b022",
      "name": "Code_Url_Click"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1F2qb5bLz5o8Esui12PFi3Y-gPT2S6oDTF-KylsBLn9k",
          "mode": "list",
          "cachedResultName": "EMA auto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F2qb5bLz5o8Esui12PFi3Y-gPT2S6oDTF-KylsBLn9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Th\u00e1ng 4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F2qb5bLz5o8Esui12PFi3Y-gPT2S6oDTF-KylsBLn9k/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        112
      ],
      "id": "999e5409-a56d-47c9-bb52-961e269d4d04",
      "name": "Data_Sheet1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1F2qb5bLz5o8Esui12PFi3Y-gPT2S6oDTF-KylsBLn9k",
          "mode": "list",
          "cachedResultName": "EMA auto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F2qb5bLz5o8Esui12PFi3Y-gPT2S6oDTF-KylsBLn9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Th\u00e1ng 4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKn5163_C0qDn3cxBIvI09syONO28jGQzNEeiBRrhxE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.rowIndex }}",
            "L\u01b0\u1ee3t nh\u1ea5p": "={{ $json.LuotClick }}",
            "URL1": "={{ $json.url1 }}",
            "URL2": "={{ $json.url2 }}",
            "URL3": "={{ $json.url3 }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "H\u1ecd T\u00ean",
              "displayName": "H\u1ecd T\u00ean",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IP1",
              "displayName": "IP1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "L\u01b0\u1ee3t M\u1edf",
              "displayName": "L\u01b0\u1ee3t M\u1edf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Th\u00f4ng b\u00e1o",
              "displayName": "Th\u00f4ng b\u00e1o",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "L\u01b0\u1ee3t nh\u1ea5p",
              "displayName": "L\u01b0\u1ee3t nh\u1ea5p",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IP Kh\u00e1c",
              "displayName": "IP Kh\u00e1c",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL1",
              "displayName": "URL1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL2",
              "displayName": "URL2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL3",
              "displayName": "URL3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "K\u1ebft qu\u1ea3",
              "displayName": "K\u1ebft qu\u1ea3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        800,
        112
      ],
      "id": "e659b18f-85ef-4a51-9204-878a30c10842",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "testngocc",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -512,
        416
      ],
      "id": "3bbcea16-0c3b-4c99-91e0-33298ad4e9e6",
      "name": "Webhook1",
      "webhookId": "d031cf55-2fcf-4f23-9c2a-f98153aa9c21"
    },
    {
      "parameters": {
        "content": "## - B\u1eaft event t\u1eeb h\u1ec7 th\u1ed1ng EMA (email marketing) c\u1ee7a 1 chi\u1ebfn d\u1ecbch c\u1ee5 th\u1ec3\n## - Ph\u00e2n lo\u1ea1i l\u01b0\u1ee3t m\u1edf v\u00e0 l\u01b0\u1ee3t click",
        "height": 260,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        288
      ],
      "typeVersion": 1,
      "id": "f4e76747-9b05-4c48-9c98-2728fc6bc4e2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## L\u01b0\u1ee3t click\n1. L\u1ecdc c\u00e1c tr\u01b0\u1eddng c\u1ea7n l\u1ea5y t\u1eeb chi\u1ebfn d\u1ecbch\n2. \u0110\u1ecdc b\u1ea3ng sheets chu\u1ea9n b\u1ecb form s\u1eb5n\n3. C\u1eadp nh\u1eadp c\u00e1c ch\u1ec9 s\u1ed1 click v\u00e0 url v\u00e0o sheets\n4. G\u1eedi th\u00f4ng b\u00e1o qua tele ",
        "height": 300,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        -32
      ],
      "typeVersion": 1,
      "id": "7d9398d8-8853-40b8-ad60-b05adbe0ddbf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76809c48-6b7b-474b-a5c7-4977ac437664",
              "name": "campaign",
              "value": "={{ $json.body.campaign.name }}",
              "type": "string"
            },
            {
              "id": "b11afe7c-4475-4942-bfff-795a021b40ec",
              "name": "name",
              "value": "={{ $json.body.subscriber.name }}",
              "type": "string"
            },
            {
              "id": "26defdf4-06c5-4c45-ba77-582032954aec",
              "name": "email",
              "value": "={{ $json.body.subscriber.email }}",
              "type": "string"
            },
            {
              "id": "2fddd6b5-51f1-48c9-9704-97b4c1ff06b2",
              "name": "ip",
              "value": "={{ $json.body.ip_address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        432
      ],
      "id": "ac1b138a-75e2-4538-88b5-c7b9255039f4",
      "name": "SET_TT"
    },
    {
      "parameters": {
        "content": "## Ki\u1ec3m tra kh\u00e1ch h\u00e0ng \u0111\u00e3 t\u1eebng m\u1edf ch\u01b0a v\u00e0 c\u1eadp nh\u1eadt th\u00eam v\u00e0o sheets",
        "height": 300,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        640
      ],
      "id": "e6d502a5-3ff1-4a8c-b755-332520ceacd3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1F2qb5bLz5o8Esui12PFi3Y-gPT2S6oDTF-KylsBLn9k",
          "mode": "list",
          "cachedResultName": "EMA auto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F2qb5bLz5o8Esui12PFi3Y-gPT2S6oDTF-KylsBLn9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Th\u00e1ng 4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F2qb5bLz5o8Esui12PFi3Y-gPT2S6oDTF-KylsBLn9k/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        464,
        432
      ],
      "id": "bc378957-8157-4500-bd50-92d5aa5a5af7",
      "name": "Data_Sheet",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const emailToFind = $items(\"SET_TT\")[0].json.email.trim().toLowerCase();\n\nlet matchIndex = -1;\nlet matchedRow = null;\n\nconst sheetItems = $items(\"Data_Sheet\");\n\nfor (let i = 0; i < sheetItems.length; i++) {\n  const emailInRow = (sheetItems[i].json.Email || \"\").trim().toLowerCase();\n\n  if (emailInRow === emailToFind) {\n    matchIndex = i;\n    matchedRow = sheetItems[i].json;\n    break;\n  }\n}\n\nif (matchIndex !== -1) {\n  return [\n    {\n      json: {\n        found: true,\n        matchIndex,\n        row: matchedRow.row_number,\n        lm: matchedRow[\"L\u01b0\u1ee3t M\u1edf\"] || 0,\n        ln: matchedRow[\"L\u01b0\u1ee3t nh\u1ea5p\"] || 0,\n        ipopen: matchedRow[\"IP1\"] || \"\",\n        ipnew: matchedRow[\"IP Kh\u00e1c\"] || \"\",\n        name: $items(\"SET_TT\")[0].json.name,\n        email: emailToFind,\n        campaign: $items(\"SET_TT\")[0].json.campaign,\n      },\n    },\n  ];\n} else {\n  return [\n    {\n      json: {\n        found: false,\n        matchIndex: -1,\n        name: $items(\"SET_TT\")[0].json.name,\n        email: emailToFind,\n        campaign: $items(\"SET_TT\")[0].json.campaign,\n      },\n    },\n  ];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        736
      ],
      "id": "3ce88b38-14c8-4ef1-83b7-6b70be5abaf7",
      "name": "Code5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d0c9f039-35d9-42bc-b3f1-0d8dfc919129",
              "leftValue": "={{ $json.found }}",
              "rightValue": -1,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        736
      ],
      "id": "f023df00-8af0-410e-ba86-b057a0646088",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "//const count = parseInt($('Code5').first().json.lm) || 0;\n//return [{\n//  json: {\n//    rowIndex: $('Code5').first().json.row,\n//    LuotMo: count + 1\n//  }\n//}];\n///////////////////\nconst data = $('Code5').first().json;\nconst ipCurrent = $items(\"SET_TT\")[0].json.ip?.trim() || \"\";\nconst ipOpen = data.ipopen?.trim() || \"\";\nconst ipOtherCount = parseInt(data.ipnew) || 0;\n\nconst isNewIp = ipCurrent && ipCurrent !== ipOpen;\nconst newIpCount = isNewIp ? ipOtherCount + 1 : ipOtherCount;\n\nconst openCount = parseInt(data.lm) || 0;\n\nreturn [{\n  json: {\n    rowIndex: data.row,\n    LuotMo: openCount + 1,\n    IpKhac: newIpCount,\n    ip1: ipOpen || ipCurrent,\n    email: data.email,\n    name: data.name,\n    campaign: data.campaign,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        720
      ],
      "id": "ac207c61-78b9-4e91-8662-b1d54be60370",
      "name": "Code6"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1F2qb5bLz5o8Esui12PFi3Y-gPT2S6oDTF-KylsBLn9k",
          "mode": "list",
          "cachedResultName": "EMA auto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F2qb5bLz5o8Esui12PFi3Y-gPT2S6oDTF-KylsBLn9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Th\u00e1ng 4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F2qb5bLz5o8Esui12PFi3Y-gPT2S6oDTF-KylsBLn9k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{$items('SET_TT').first().json.email}}",
            "H\u1ecd T\u00ean": "={{$items('SET_TT').first().json.name}}",
            "Campaign": "={{$items('SET_TT').first().json.campaign}}",
            "IP1": "={{$items('SET_TT').first().json.ip}}",
            "L\u01b0\u1ee3t M\u1edf": "1"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "H\u1ecd T\u00ean",
              "displayName": "H\u1ecd T\u00ean",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IP1",
              "displayName": "IP1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "L\u01b0\u1ee3t M\u1edf",
              "displayName": "L\u01b0\u1ee3t M\u1edf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Th\u00f4ng b\u00e1o",
              "displayName": "Th\u00f4ng b\u00e1o",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "L\u01b0\u1ee3t nh\u1ea5p",
              "displayName": "L\u01b0\u1ee3t nh\u1ea5p",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IP Kh\u00e1c",
              "displayName": "IP Kh\u00e1c",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL1",
              "displayName": "URL1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL2",
              "displayName": "URL2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL3",
              "displayName": "URL3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "K\u1ebft qu\u1ea3",
              "displayName": "K\u1ebft qu\u1ea3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1040,
        416
      ],
      "id": "71142fc4-393b-4503-930c-ab8efc36398e",
      "name": "Th\u00eam M\u1edbi KH M\u1edf Mail1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1539e672-e088-454d-996a-019f1fc9f454",
              "leftValue": "={{ $json['L\u01b0\u1ee3t nh\u1ea5p'] }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        112
      ],
      "id": "379474e6-1438-44cc-8326-97b1d34bf8b7",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f271dbfc-8df3-4f9b-a0eb-c780bd4cda21",
              "leftValue": "={{ $json.hasData }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        432
      ],
      "id": "195a8a63-4435-444e-b9de-2fe349876aed",
      "name": "IF_Empty"
    },
    {
      "parameters": {
        "jsCode": "const firstRow = items[0]?.json || {};\nconst isEmpty = Object.keys(firstRow).length === 0;\n\nreturn [\n  {\n    json: {\n      hasData: !isEmpty\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        432
      ],
      "id": "1be0bd99-08b9-4005-a727-f36f6d70bf51",
      "name": "Check_Sheet_Empty"
    },
    {
      "parameters": {
        "chatId": "-1002663080485",
        "text": "=C\u00f3 Kh\u00e1ch H\u00e0ng Nh\u1ea5p Link. Th\u00f4ng tin:\n-Chi\u1ebfn d\u1ecbch: {{ $('Code_Url_Click').item.json.campaign }}\n-Email: {{ $('Code_Url_Click').item.json.email }}\n-H\u1ecd T\u00ean: {{ $('Code_Url_Click').item.json.name }}\nVui l\u00f2ng c\u1eadp nh\u1eadt k\u1ebft qu\u1ea3 ch\u0103m s\u00f3c kh\u00e1ch h\u00e0ng v\u00e0o sheets.\nLink sheets: ..",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        16
      ],
      "id": "dfb6848e-9434-42c9-a035-69867fcfb975",
      "name": "Telegram1",
      "webhookId": "12841e79-689a-48cf-8c0b-a878e23830a0"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1F2qb5bLz5o8Esui12PFi3Y-gPT2S6oDTF-KylsBLn9k",
          "mode": "list",
          "cachedResultName": "EMA auto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F2qb5bLz5o8Esui12PFi3Y-gPT2S6oDTF-KylsBLn9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Th\u00e1ng 4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKn5163_C0qDn3cxBIvI09syONO28jGQzNEeiBRrhxE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.rowIndex }}",
            "L\u01b0\u1ee3t M\u1edf": "={{ $json.LuotMo }}",
            "IP Kh\u00e1c": "={{ $json.IPKhac }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "H\u1ecd T\u00ean",
              "displayName": "H\u1ecd T\u00ean",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IP1",
              "displayName": "IP1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "L\u01b0\u1ee3t M\u1edf",
              "displayName": "L\u01b0\u1ee3t M\u1edf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Th\u00f4ng b\u00e1o",
              "displayName": "Th\u00f4ng b\u00e1o",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "L\u01b0\u1ee3t nh\u1ea5p",
              "displayName": "L\u01b0\u1ee3t nh\u1ea5p",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IP Kh\u00e1c",
              "displayName": "IP Kh\u00e1c",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL1",
              "displayName": "URL1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL2",
              "displayName": "URL2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL3",
              "displayName": "URL3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "K\u1ebft qu\u1ea3",
              "displayName": "K\u1ebft qu\u1ea3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1520,
        720
      ],
      "id": "b04297b3-2ff4-44a6-ac82-f9777b340314",
      "name": "C\u1eadp Nh\u1eadt+1"
    },
    {
      "parameters": {
        "content": "## L\u01b0\u1ee3t m\u1edf\n1. L\u1ecdc c\u00e1c tr\u01b0\u1eddng c\u1ea7n l\u1ea5y t\u1eeb chi\u1ebfn d\u1ecbch \n2. \u0110\u1ecdc b\u1ea3ng sheets chu\u1ea9n b\u1ecb form s\u1eb5n\n3. X\u00e1c \u0111\u1ecbnh b\u1ea3ng sheets \u0111\u00e3 c\u00f3 d\u1eef li\u1ec7u hay ch\u01b0a v\u00e0 \u0111\u00e3 m\u1edf email l\u1ea7n n\u00e0o ch\u01b0a\n4. C\u1eadp nh\u1eadt v\u00e0o sheets s\u1ed1 l\u01b0\u1ee3t m\u1edf. M\u1ed7i l\u1ea7n kh\u00e1ch h\u00e0ng m\u1edf +1",
        "height": 280,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        320
      ],
      "typeVersion": 1,
      "id": "b1dfff33-487f-45fb-bf18-78b2592dc907",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "IF_Open_Click": {
      "main": [
        [
          {
            "node": "Set_Click",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET_TT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Click": {
      "main": [
        [
          {
            "node": "Data_Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Url_Click": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data_Sheet1": {
      "main": [
        [
          {
            "node": "Code_Url_Click",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "IF_Open_Click",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET_TT": {
      "main": [
        [
          {
            "node": "Data_Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data_Sheet": {
      "main": [
        [
          {
            "node": "Check_Sheet_Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Th\u00eam M\u1edbi KH M\u1edf Mail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "C\u1eadp Nh\u1eadt+1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Empty": {
      "main": [
        [
          {
            "node": "Th\u00eam M\u1edbi KH M\u1edf Mail1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Sheet_Empty": {
      "main": [
        [
          {
            "node": "IF_Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.quan.io.vn",
            "x-real-ip": "103.216.117.90",
            "x-forwarded-for": "103.216.117.90",
            "x-forwarded-proto": "https",
            "connection": "close",
            "content-length": "18134",
            "user-agent": "GuzzleHttp/7",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "message_id": "1749719459687736.684a99a370eb0@tenmieninet.vn",
            "user_agent": "Mozilla/5.0 (Windows NT 5.1; rv:11.0) Gecko Firefox/11.0 (via ggpht.com GoogleImageProxy)",
            "ip_address": "66.249.84.102",
            "trackingLog": {
              "_id": "684a99a373480cfa280e0b86",
              "campaign_id": 31776,
              "message_id": "1749719459687736.684a99a370eb0@tenmieninet.vn",
              "subscriber_id": 38842494,
              "sending_server_id": 31,
              "customer_id": 67,
              "mail_list_id": 17462,
              "subject": "Xin th\u00f4ng b\u00e1o",
              "runtime_message_id": "0101019763682c53-adcf31ed-fd4a-40fd-afc3-e29b08cb2d1f-000000",
              "created_at": "2025-06-12T09:10:59.000000Z",
              "updated_at": "2025-06-12T09:10:59.000000Z",
              "customer": {
                "id": 67,
                "uid": "5e3d26f018564",
                "admin_id": 20,
                "contact_id": 15484,
                "language_id": 5,
                "timezone": "Asia/Ho_Chi_Minh",
                "channel": "onemail",
                "status": "active",
                "color_scheme": "white",
                "quota": null,
                "created_at": "2020-02-07T08:59:28.000000Z",
                "updated_at": "2025-06-12T08:56:08.000000Z",
                "dc": "s1",
                "text_direction": "ltr",
                "payment_method": null,
                "auto_billing_data": null,
                "menu_layout": "left",
                "theme_mode": "dark",
                "org_id": 1284,
                "org_email": "hoabd@zozo.vn",
                "org_name": "Sale HN - HoaBD",
                "first_name": "Minh",
                "last_name": "Qu\u00e2n",
                "user": {
                  "id": 67,
                  "uid": "5e3d26f017df0",
                  "api_token": "4oNQxVZae75DluK94Fq1QV6pb5gABzfVL9FdlyTANnsSEVROjPlu3METlGnw",
                  "creator_id": null,
                  "email": "quanlm@inet.vn",
                  "status": null,
                  "created_at": "2020-02-07T08:59:28.000000Z",
                  "updated_at": "2025-04-03T01:53:31.000000Z",
                  "quota": null,
                  "phone": null,
                  "activated": 1,
                  "dc": null,
                  "one_time_api_token": null,
                  "customer_id": 67,
                  "first_name": "Minh",
                  "last_name": "Qu\u00e2n",
                  "google_id": null,
                  "google_token": null,
                  "google_refresh_token": null,
                  "facebook_id": null,
                  "facebook_token": null,
                  "facebook_refresh_token": null
                }
              },
              "campaign": {
                "id": 31776,
                "uid": "684a80ca5464a",
                "customer_id": 67,
                "type": "regular",
                "name": "Email marketing",
                "subject": "Xin th\u00f4ng b\u00e1o",
                "from_email": "contact@tenmieninet.vn",
                "from_name": "Ng\u1ecdc t\u1eeb iNET",
                "reply_to": "contact@tenmieninet.vn",
                "status": "sending",
                "sign_dkim": 1,
                "track_open": 1,
                "track_click": 1,
                "resend": null,
                "run_at": "2025-06-12T09:00:00.000000Z",
                "delivery_at": "2025-06-12T09:10:54.000000Z",
                "created_at": "2025-06-12T07:24:58.000000Z",
                "updated_at": "2025-06-12T09:10:54.000000Z",
                "template_source": null,
                "last_error": null,
                "is_auto": 0,
                "image": null,
                "default_mail_list_id": 17462,
                "cache": "{\"ActiveSubscriberCount\":7,\"SubscriberCount\":8,\"DeliveredCount\":0,\"DeliveredRate\":0,\"FailedDeliveredCount\":0,\"FailedDeliveredRate\":0,\"NotDeliveredCount\":7,\"NotDeliveredRate\":1,\"UniqOpenCount\":0,\"ClickedRate\":0,\"ClickCount\":0,\"OpenCount\":0,\"UniqOpenRate\":0,\"NotOpenCount\":0,\"NotOpenRate\":1}",
                "tracking_domain_id": null,
                "use_default_sending_server_from_email": 0,
                "preheader": null,
                "sending_servers_id": null,
                "running_pid": 8843,
                "statistical_campaign": 0,
                "interactive_history": "default",
                "delay_seconds": null,
                "template_id": 42754,
                "need_check": "no_need_check",
                "warmup_plan_id": null,
                "tracking_domain": null
              },
              "sendingServer": {
                "id": 31,
                "uid": "6785cbcbc6441",
                "admin_id": 21,
                "customer_id": null,
                "bounce_handler_id": null,
                "feedback_loop_handler_id": null,
                "name": "Amazon SMTP iNET",
                "type": "amazon-smtp",
                "host": "email-smtp.us-west-2.amazonaws.com",
                "aws_access_key_id": "AKIA3Q57MJZDGGS3IPNY",
                "aws_secret_access_key": "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",
                "aws_region": "us-west-2",
                "domain": null,
                "api_key": null,
                "smtp_username": "AKIA3Q57MJZDJFRJAZHE",
                "smtp_password": "BFx6uGdiGZ/z/tMaTMpZeki07R82OMwtCnvXdHdSll3x",
                "smtp_port": 465,
                "smtp_protocol": "ssl",
                "sendmail_path": null,
                "quota_value": -1,
                "quota_base": -1,
                "quota_unit": "day",
                "status": "active",
                "created_at": "2025-01-14T02:28:27.000000Z",
                "updated_at": "2025-04-09T05:03:54.000000Z",
                "api_secret_key": null,
                "quota": null,
                "default_from_email": "contact@inet.net.vn",
                "options": "{\"domains\":[\"zozo.net.vn\",\"inet.name.vn\",\"tenmieninet.vn\",\"cloudfly.vn\",\"tenmieninet.com\",\"inet.vn\",\"inet.org.vn\",\"tuvantenmien.com.vn\",\"nhadangkytenmien.vn\",\"dotvn.vn\",\"zozo.vn\",\"inet.net.vn\"],\"emails\":[\"thildph07746@fpt.edu.vn\",\"contact@inet.net.vn\",\"contact@myzozo.net\",\"noreply@exdomain.net\",\"contact@zozo.net.vn\",\"thanhthuynguyen283802@gmail.com\",\"websitemonitoringinet@gmail.com\",\"tieudv@zozo.vn\",\"contact@tenmieninet.com\",\"noreply@dotvn.vn\",\"alma@vinalotus.vn\",\"tuantd@pantrading.vn\",\"lptuananh2611@gmail.com\",\"hautx@inet.vn\",\"noreply@inet.vn\",\"ema@zozo.vn\",\"contact@tenmieninet.vn\",\"lechuhuuha@gmail.com\",\"support@zozo.vn\",\"tranngq@inet.vn\",\"hotriit@gmail.com\",\"bounced@zozo.vn\",\"tieudv89@gmail.com\",\"ledinhthi2909@gmail.com\",\"email-01@inet.name.vn\",\"newsletter@inet.vn\",\"phuongpm@zozo.vn\",\"contact@tuvantenmien.com.vn\",\"thienvvzozo@gmail.com\",\"newsletter@myzozo.net\",\"maintt@zozo.vn\",\"contact@zozo.vn\",\"phucnh@zozo.vn\",\"newsletter@tuvantenmien.com.vn\",\"ngocdanggk@gmail.com\",\"support@inet.vn\",\"ngocdtk@inet.vn\",\"thuynguyenotaku28@gmail.com\",\"tuyetmai17092000@gmail.com\"],\"allow_unverified_from_email\":\"no\",\"allow_verify_domain_remotely\":\"yes\",\"allow_verify_email_remotely\":\"yes\",\"not_allow_free_email_services\":\"no\",\"sending_limit\":\"unlimited\",\"identities\":{\"zozo.net.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null,\"VerificationToken\":\"4ZwRtymy2fhZgz8jr9Tddq1G7a5KZqK\\/YhFsdgrOdwY=\"},\"thildph07746@fpt.edu.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"contact@inet.net.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":694,\"UserName\":\"L\\u00ea H\\u1eadu\"},\"binhthuongthoi146@gmail.com\":{\"Selected\":false,\"VerificationStatus\":\"Pending\",\"UserId\":null,\"UserName\":null},\"contact@myzozo.net\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"noreply@exdomain.net\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"inet.name.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null,\"VerificationToken\":\"goNGP+8u8o0DauA3PUtEFMhNoiOBkP+AboVx0YPJRqg=\"},\"contact@zozo.net.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"thanhthuynguyen283802@gmail.com\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"tenmieninet.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null,\"VerificationToken\":\"An+TIhHTT6KAxQu9IdnR5wU81UQAc1AIh2RwyMlGKJ4=\"},\"websitemonitoringinet@gmail.com\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"tieudv@zozo.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"contact@tenmieninet.com\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"cloudfly.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null,\"VerificationToken\":\"pTgGdpVUWYvHsfAvf0IZ+Ak2Otl3OJwgBINRlaMnj38=\"},\"noreply@dotvn.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"alma@vinalotus.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"tuantd@pantrading.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"lptuananh2611@gmail.com\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"hautx@inet.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"noreply@inet.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"tenmieninet.com\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null,\"VerificationToken\":\"Xv8gU+Tf3TsYlKrh+aciwlZC5Xpq2j+D0HYeuPVSnjw=\"},\"ema@zozo.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"contact@tenmieninet.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"zozo.com.vn\":{\"Selected\":false,\"VerificationStatus\":\"Pending\",\"UserId\":null,\"UserName\":null,\"VerificationToken\":\"nuGkkEi\\/CAO+XVarHssz3mMNfTsedIM05IYt0n7C7t4=\"},\"inet.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null,\"VerificationToken\":\"B01tAmuac1JgPeOy0QRzvWLZwgViMWF5OHNUhz1ZhMs=\"},\"lechuhuuha@gmail.com\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"support@zozo.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":2762,\"UserName\":\"Zozo Customer Care\"},\"tranngq@inet.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"inet.org.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null,\"VerificationToken\":\"XRKQ4da8MUwu1IZSARXL\\/RN4ykA9mXWGr8W3yP\\/0Kd8=\"},\"hotriit@gmail.com\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"bounced@zozo.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"tieudv89@gmail.com\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"ledinhthi2909@gmail.com\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"email-01@inet.name.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"tuvantenmien.com.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null,\"VerificationToken\":\"Mp48W5O6Y8xM2xELpsYmQZ6CxLB6Bjlrg5wMIJMZ\\/PY=\"},\"contact@nhadangkytenmien.vn\":{\"Selected\":true,\"VerificationStatus\":\"Pending\",\"UserId\":6,\"UserName\":\"H\\u1ed3 \\u0110\\u1ee9c Tr\\u00ed\"},\"lovemyseft28@gmail.com\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":2779,\"UserName\":\"Nguy\\u1ec5n Th\\u1ecb Thanh Th\\u00fay\"},\"newsletter@inet.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":6,\"UserName\":\"H\\u1ed3 \\u0110\\u1ee9c Tr\\u00ed\"},\"phuongpm@zozo.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"contact@tuvantenmien.com.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"nhadangkytenmien.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null,\"VerificationToken\":\"fuADotWlkND3wdD9T4o4oWDkSt\\/tlBtDBZkwCdg3838=\"},\"info@inet.org.vn\":{\"Selected\":true,\"VerificationStatus\":\"Pending\",\"UserId\":1976,\"UserName\":\"Nguy\\u1ec5n Minh H\\u1ea3i\"},\"thienvvzozo@gmail.com\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"newsletter@myzozo.net\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"maintt@zozo.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"contact@zozo.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":2762,\"UserName\":\"Zozo Customer Care\"},\"phucnh@zozo.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"newsletter@tuvantenmien.com.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"dotvn.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null,\"VerificationToken\":\"+SyLOpbkoRk8lZiHljjsPZIq5voZlz3TMRBC9nffKtw=\"},\"ngocdanggk@gmail.com\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"support@inet.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":1976,\"UserName\":\"Nguy\\u1ec5n Minh H\\u1ea3i\"},\"zozo.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null,\"VerificationToken\":\"zPhkLeqiAOWFXshxRGaNVQ1i6OAeMb8wcLgjYg5HhJY=\"},\"ngocdtk@inet.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"thuynguyenotaku28@gmail.com\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"tuyetmai17092000@gmail.com\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null},\"inet.net.vn\":{\"Selected\":true,\"VerificationStatus\":\"Success\",\"UserId\":null,\"UserName\":null,\"VerificationToken\":\"U0wwInJeNZ7Z885GdW0pU5zwPFauprtOdMaGn9+IxS8=\"}}}"
              },
              "subscriber": {
                "id": 38842494,
                "uid": "67f364d1a8b06",
                "mail_list_id": 17462,
                "email": "tuantuannhaday@gmail.com",
                "status": "subscribed",
                "from": "added",
                "ip": "103.56.162.9",
                "created_at": "2025-04-07T05:38:25.000000Z",
                "updated_at": "2025-04-07T05:38:26.000000Z",
                "subscription_type": null,
                "tags": null,
                "mx": null,
                "verification_result": "deliverable",
                "score": 0,
                "name": "Tu\u00e2n Tu\u1ea5n",
                "verification_status": null,
                "last_verification_at": null,
                "last_verification_by": null,
                "last_verification_result": null,
                "subscriber_fields": [
                  {
                    "id": 108625023,
                    "subscriber_id": 38842494,
                    "field_id": 75815,
                    "value": "tuantuannhaday@gmail.com",
                    "created_at": "2025-04-07T05:38:25.000000Z",
                    "updated_at": "2025-04-07T05:38:25.000000Z",
                    "field": {
                      "id": 75815,
                      "visible": 1,
                      "tag": "EMAIL"
                    }
                  },
                  {
                    "id": 108625024,
                    "subscriber_id": 38842494,
                    "field_id": 75816,
                    "value": "Tu\u00e2n Tu\u1ea5n",
                    "created_at": "2025-04-07T05:38:25.000000Z",
                    "updated_at": "2025-04-07T05:38:25.000000Z",
                    "field": {
                      "id": 75816,
                      "visible": 1,
                      "tag": "NAME"
                    }
                  },
                  {
                    "id": 109949611,
                    "subscriber_id": 38842494,
                    "field_id": 76082,
                    "value": "ngocptn",
                    "created_at": "2025-04-11T07:32:44.000000Z",
                    "updated_at": "2025-04-11T07:32:44.000000Z",
                    "field": {
                      "id": 76082,
                      "visible": 1,
                      "tag": "AFF"
                    }
                  },
                  {
                    "id": 109949612,
                    "subscriber_id": 38842494,
                    "field_id": 76083,
                    "value": "phamthinhungoc1912@gmail.com",
                    "created_at": "2025-04-11T07:32:44.000000Z",
                    "updated_at": "2025-04-11T07:32:44.000000Z",
                    "field": {
                      "id": 76083,
                      "visible": 1,
                      "tag": "ORGEMAIL"
                    }
                  }
                ]
              },
              "mailList": {
                "id": 17462,
                "uid": "67f363654b455",
                "customer_id": 67,
                "contact_id": 21470,
                "name": "test Ng\u1ecdc",
                "default_subject": null,
                "from_email": null,
                "from_name": "Ng\u1ecdc t\u1eeb iNET",
                "remind_message": null,
                "email_subscribe": null,
                "email_unsubscribe": null,
                "email_daily": null,
                "send_welcome_email": 0,
                "unsubscribe_notification": 1,
                "status": null,
                "created_at": "2025-04-07T05:32:21.000000Z",
                "updated_at": "2025-06-12T08:55:55.000000Z",
                "subscribe_confirmation": 0,
                "all_sending_servers": 0,
                "type": null,
                "embedded_form_options": null,
                "enable_email_encryption": 0
              },
              "error": "",
              "status": "sent"
            },
            "updated_at": {
              "$date": {
                "$numberLong": "1750390679000"
              }
            },
            "_id": {
              "$oid": "6854d7977dbe9c8cda0e40c5"
            },
            "created_at": {
              "$date": {
                "$numberLong": "1750390679000"
              }
            },
            "campaign": {
              "id": 31776,
              "uid": "684a80ca5464a",
              "customer_id": 67,
              "type": "regular",
              "name": "Email marketing",
              "subject": "Xin th\u00f4ng b\u00e1o",
              "plain": "https://helpdesk.inet.vn/blog/chao-he-sang-deal-ngap-tran?sale=HCMPemail05,{AFF}\nK\u00ednh g\u1eedi: Qu\u00fd Kh\u00e1ch h\u00e0ng {NAME},\n\n\u0110\u00f3n ch\u00e0o m\u00f9a h\u00e8 s\u00f4i \u0111\u1ed9ng, iNET mang \u0111\u1ebfn cho Qu\u00fd kh\u00e1ch lo\u1ea1t \u01b0u \u0111\u00e3i l\u00ean \u0111\u1ebfn 60% cho c\u00e1c d\u1ecbch v\u1ee5 Hosting / Email t\u00ean mi\u1ec1n / Cloud Server.\nTh\u1eddi gian di\u1ec5n ra ch\u01b0\u01a1ng tr\u00ecnh: 26/05/2025 - 31/05/2025\n\n\u0110\u00e2y l\u00e0 th\u1eddi \u0111i\u1ec3m v\u00e0ng \u0111\u1ec3 n\u00e2ng c\u1ea5p h\u1ea1 t\u1ea7ng c\u00f4ng ngh\u1ec7, t\u1ed1i \u01b0u h\u00f3a website v\u00e0 \u0111\u1ea3m b\u1ea3o v\u1eadn h\u00e0nh doanh nghi\u1ec7p m\u01b0\u1ee3t m\u00e0.\n\n\u200b\u200bTr\u00e2n tr\u1ecdng!\n\n[xem CHI TI\u1ebet \u2192](https://helpdesk.inet.vn/blog/chao-he-sang-deal-ngap-tran?sale=HCMPemail05,{AFF})\n\n[\u0111\u0102NG K\u00dd NGAY \u2192](https://inet.vn/hosting/cloud-hosting?sale=HCMPemail05,{AFF})\n\nNh\u00e0 \u0110\u0103ng K\u00fd T\u00ean Mi\u1ec1n iNET\n- Hotline: 19009250\n- Email: tenmien@inet.vn\n- iNET Telegram Channel: https://t.me/+Ss9pZoF-XjEyYjNl\n- H\u00e0 N\u1ed9i: S\u1ed1 247 C\u1ea7u Gi\u1ea5y, Ph\u01b0\u1eddng D\u1ecbch V\u1ecdng, Qu\u1eadn C\u1ea7u Gi\u1ea5y\n- TP. H\u1ed3 Ch\u00ed Minh: S\u1ed1 40 Ho\u00e0ng Vi\u1ec7t, Ph\u01b0\u1eddng 4, Qu\u1eadn T\u00e2n B\u00ecnh\n\n/assets/YXBwL3VzZXJzLzVlM2QyNmYwMTdkZjAvaG9tZS9maWxlcw/inetcoupon\n\nhttps://www.facebook.com/inet.miennam\n\nB\u1ea1n nh\u1eadn \u0111\u01b0\u1ee3c Email n\u00e0y v\u00ec b\u1ea1n \u0111\u00e3 \u0111\u0103ng k\u00fd nh\u1eadn tin t\u1eeb ch\u00fang t\u00f4i\nB\u1ea1n c\u00f3 th\u1ec3 [c\u1eadp nh\u1eadt th\u00f4ng tin]({UPDATE_PROFILE_URL}) Ho\u1eb7c [hu\u1ef7 \u0111\u0103ng k\u00fd nh\u1eadn tin]({UNSUBSCRIBE_URL})",
              "from_email": "contact@tenmieninet.vn",
              "from_name": "Ng\u1ecdc t\u1eeb iNET",
              "reply_to": "contact@tenmieninet.vn",
              "status": "done",
              "sign_dkim": 1,
              "track_open": 1,
              "track_click": 1,
              "resend": null,
              "run_at": "2025-06-12 16:00:00",
              "delivery_at": "2025-06-12 16:10:54",
              "created_at": "2025-06-12 14:24:58",
              "updated_at": "2025-06-20 10:37:59",
              "template_source": null,
              "last_error": null,
              "is_auto": 0,
              "image": null,
              "default_mail_list_id": 17462,
              "cache": "{\"ActiveSubscriberCount\":8,\"SubscriberCount\":8,\"DeliveredCount\":8,\"DeliveredRate\":1,\"FailedDeliveredCount\":0,\"FailedDeliveredRate\":0,\"NotDeliveredCount\":0,\"NotDeliveredRate\":0,\"UniqOpenCount\":5,\"ClickedRate\":0.5,\"ClickCount\":27,\"OpenCount\":23,\"UniqOpenRate\":0.625,\"NotOpenCount\":3,\"NotOpenRate\":0.375}",
              "tracking_domain_id": null,
              "use_default_sending_server_from_email": 0,
              "preheader": null,
              "sending_servers_id": null,
              "running_pid": 8843,
              "statistical_campaign": 0,
              "interactive_history": "default",
              "delay_seconds": null,
              "template_id": 42754,
              "need_check": "no_need_check",
              "warmup_plan_id": null
            },
            "subscriber": {
              "id": 38842494,
              "uid": "67f364d1a8b06",
              "mail_list_id": 17462,
              "email": "tuantuannhaday@gmail.com",
              "status": "subscribed",
              "from": "added",
              "ip": "103.56.162.9",
              "created_at": "2025-04-07 12:38:25",
              "updated_at": "2025-04-07 12:38:26",
              "subscription_type": null,
              "tags": null,
              "mx": null,
              "verification_result": "deliverable",
              "score": 0,
              "name": "Tu\u00e2n Tu\u1ea5n",
              "verification_status": null,
              "last_verification_at": null,
              "last_verification_by": null,
              "last_verification_result": null
            }
          },
          "webhookUrl": "https://n8n.quan.io.vn/webhook/testngocc",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "1b15a449-e62c-4a11-9722-126170daad7c",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-26T15:25:40.276Z",
      "updatedAt": "2025-09-26T15:25:40.276Z",
      "role": "workflow:owner",
      "workflowId": "gqOULDVBe1ddPYe8",
      "projectId": "ICp1M8C0gzC6bJJb"
    }
  ],
  "tags": [],
  "repo_owner": "aloatist",
  "repo_name": "n8nvps",
  "repo_path": "aloatist/n8nvps",
  "drive_folder": "1xA6c0JY5ZpCuLzILbuv4tiP_pMCPWRCH"
}